<launch>

<rosparam file="$(find URDF_description)/launch/controller.yaml" command="load"/>
<node args="joint_0_position_controller joint_1_position_controller joint_2_position_controller joint_3_position_controller joint_4_position_controller joint_state_controller " name="controller_spawner" ns="URDF" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/URDF/joint_states"/>
</node>

</launch>